<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<!--テンプレートで使っている変数は@userだけじゃない！-->
<%= render 'tpl', user: @user, book: @new_book %>
<!--@new_bookを使えるようにする記述が必要！！-->


<h2>全ユーザー</h2>
<% @users.each do |user| %>

<div>
  <table class="table">

    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody>
    <tr>
      <!--プロフ画-->
      <!--<td>ここにプロフ画のコード</td>-->
      <!--↑user(ブロック変数).get_profile_image(user.rbで定義したメソッド)-->
      <!--名前-->
      <td><%= user.name %></td>
      <!--users#showへのリンク-->
      <td><%= %></td>
    </tr>
  </tbody>

  </table>
</div>

<% end %>






