@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';


ul {
  padding-inline-start: 40px;
}

.form_group {
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem!important;
}

.actions {
  margin-top: 1rem!important;
}